@import './colors';
@import './badgeSize';

// main content for the blog page
main.blog {

  // the container for the articles
  .articles {
    padding-top: #{$badgeHeight*0.3 + 'px'};
    color: $code;
    position: relative;
    top: #{$badgeHeight*0.7 + 'px'};
    background-color: $pale;
    min-height: calc(100vh - #{65 + $badgeHeight*0.7 + 'px'});
    text-align: center;
  }

  // the line break after the title
  hr {
    margin: 0 5vw;
  }
}