@import './badgeSize';
@import './colors';

main.experience {
  background-color: $pale;
  min-height: calc(100vh - 65px);
  text-align: center;

  & > p {
    padding: 1em;
    padding-top: #{$badgeHeight + 'px'}
  }

  a {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;
    background-color: $peach;
    transform-origin: 50% 50%;
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);

    &:hover {
      transition: all 0.2s;
      transform: scale(1.1);
      box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
    }

    img {
      width: 80px;
      height: 80px;
    }
  }

  h1 {
    padding-top: 1em;
  }

  hr {
    opacity: 0.3;
    width: 90vw;
    margin: 0 auto;
  }

  section {
    text-align: left;
    width: 100vw;
    padding: 3em 5vw;
    display: flex;

    span {
      min-width: 35%;

      &:nth-child(1) {
        padding-right: 4em;

        h2 {
          
        }

        p {
          opacity: 0.7;
          align-items: flex-start;
          padding: 0.5em 0;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  main.experience {
    section {
      flex-direction: column;
    }
  }
}