@import './badgeSize';
@import './colors';

// the styling for the main content of the experience page
main.experience {
  background-color: $pale;
  min-height: calc(100vh - 65px);
  text-align: center;

  // the call to action (download resume)
  & > p {
    padding: 1em;
    padding-top: #{$badgeHeight + 'px'}
  }

  // the link that downloads my resume
  a {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;
    background-color: $peach;
    transform-origin: 50% 50%;
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);

    // feedback animation on hover
    &:hover {
      transition: all 0.2s;
      transform: scale(1.1);
      box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
    }
    
    // image to make it clear what clicking will do
    img {
      width: 80px;
      height: 80px;
    }
  }

  // name of page
  h1 {
    padding-top: 1em;
  }

  hr {
    opacity: 0.3;
    width: 90vw;
    margin: 0 auto;
  }

  // a section containg information about employment
  section {
    text-align: left;
    width: 100vw;
    padding: 3em 5vw;
    display: flex;

    // the information container
    span {
      min-width: 35%;

      // the main information (not description)
      &:nth-child(1) {
        padding-right: 4em;

        // that dates
        p {
          opacity: 0.7;
          align-items: flex-start;
          padding: 0.5em 0;
        }
      }
    }
  }
}

// styling for small screens
@media screen and (max-width: 700px) {

  main.experience {

    // display the information vertically
    section {
      flex-direction: column;
    }
  }
}