@import './colors';
@import './badgeSize';

$navHeight: 64;

// the styling for the homepage
body {
  background-color: $code;
  height: calc(200vh - #{$badgeHeight + 'px'});
}

// the main content of the homepage
main.home {
  position: relative;
  width: 100vw;
  height: calc(100vh);
  background-color: $code;
  display: flex;
  justify-content: center;
  flex-direction: column;

  // my badge (halfway down screen)
  .myBadge {
    transform: none;
    position: relative;
    top: calc(100vh - #{$badgeHeight*0.85 + 'px'});
    z-index: 1;
    background-color: $dark-peach;
  }

  // main information about me
  & > .introduction {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    font-weight: 200;
    color: $pale;
  
    // anything inside should be centered
    & > * {
      text-align: center;
    }
  
    // my name
    & > .mainIntro {
      font-size: 25px;
    }
  
    // my job description
    & > .jobDescription {
      font-size: 22px;
    }
  
    // style the title itself differently
    & .jobTitle {
      color: $peach;
    }
  
    // style the name itself differently
    & .name {
      color: $yellow;
    }
  }
}

// the bottom menu of the homepage
.menu {
  position: relative;
  top: calc(100vh - #{$badgeHeight*0.7+ 'px'});
  min-height: calc(100vh - #{$navHeight + 'px'});
  padding-top: calc(#{$badgeHeight*0.85 + 'px'});
  transform: translateY(#{-$badgeHeight + 'px'});
  background-color: $pale;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  // each link
  & a {
    color: $paleText;
    text-decoration: none;
  }

  // the container for each link
  & li {
    padding: 20px;
    font-size: 40px;
    opacity: 0;
    transform: translateX(200px);
    list-style: none;

    // an animation to display the links
    &.fadeIn {
      transition: all 0.7s;
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
