@import './colors';

//styling for the navbar

//move body down so content is displayed correctly
body {
  padding-top: 65px;
  font-weight: 100;
}


// the container for the nav
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  background-color: $code;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;

  // my logo (just my name)
  .logo {
    color: $pale;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }

  // a list of links to different pages on the website
  .navLinks {
    opacity: 0.95;
    display: flex;
    background-color: $code;
    justify-content: space-around;
    width: 60%;

    // each link container
    li {
      list-style: none;

      // each link
      a {
        color: $pale;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }

  // a styled icon for options
  // (only displayed on small screens)
  .burger {
    display: inline-flex;
    flex-direction: column;
    height: 30px;
    margin: 10px;
    display: none;

    div {
      width: 30px;
      height: 5px;
      margin: 4px;
      background-color: $pale;
      border-radius: 2.5px;
      transition: all 0.2s;
    }
  }
}

// code for small screens
@media screen and (max-width: 768px) {

  // stop users from being able to scroll to the right
  body{
    overflow-x: hidden;
  }

  // move each link so they are vertically centered
  // and in the middle of the screen
  // then translate them off to the right
  nav > .navLinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    // add animation delay so each item comes in staggered
    li {
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.2} + 's'
        }
      }

      // the animation to fade the items in
      &.fadeIn {
        opacity: 0;
        animation: navLinksFade 0.5s ease-in-out forwards;
      }

      // each link
      a {
        font-size: 25px;
      }
    }

    // code to animate the menu in from the right
    &.navActive {
      transition: transform 0.5s ease-in-out;
      transform: translateX(0%);
    }
  }

  // display the icon
  nav > .burger {
    cursor: pointer;
    display: block;

    // if menu is open
    &.toggle > div {
      transform-origin: 50% 50%;

      // style the icon to transform into an X
      &:nth-child(1){
        transition: all 0.2s;
        transform: rotate(-45deg) translate(-3px, 10px);
      }

      &:nth-child(2){
        transition: all 0.2s;
        transform: translateX(-10px);
        opacity: 0;
      }

      &:nth-child(3){
        transition: all 0.2s;
        transform: rotate(45deg) translate(-3px, -10px);
      }
    }
  }
}

// animation for fading the links in
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  } to {
    opacity: 1;
    transform: translateX(0px);
  }
}