@import './badgeSize';
@import './colors';

.myBadge {
  display: flex;
  justify-content: center;
  clip-path: polygon(100% 15%, 100% 100%, 50% 85%, 0 100%, 0 15%, 50% 0);
  background-color: $dark_peach;

  & > .badge {
    display: flex;
    align-items: center;
    padding: #{($badgeHeight - $imgSize)/2 + 'px 0'};

    & > img {
      margin-right: 20px;
      width: #{$imgSize + 'px'};
      height: #{$imgSize + 'px'};
      border-radius: 50%;
      border: 3px solid white;
    }
  
    & > .information {
      display: inline-block;
      color: $yellow;
      font-size: 28px;

      & > .name {
        font-weight: 400;
      }
    }
  }
}