@import './colors';

body {
  height: auto;
}

main.skills {
  display: flex;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 65px);
  background-color: $pale;
  align-items: center;
  overflow: auto;
}