.infoBox {
  width: 100vw;
  height: calc(100vh - 50px);
  position: absolute;
  background-color: #1C2238;
  -webkit-clip-path: circle(0% at 0 0);
          clip-path: circle(0% at 0 0);
  margin-top: 10px;
  line-height: 1.5rem;
}

.infoBox .backButton {
  position: absolute;
  z-index: 3;
  left: 5vw;
  top: 20px;
  color: #FFF4EC;
  font-size: 20px;
  font-weight: 200;
}

.infoBox .titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.infoBox .titleBar .infoImg {
  position: relative;
  width: calc(0.7071 * 20vw);
  height: calc(0.7071 * 20vw);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.infoBox .titleBar .infoTitleContainer {
  overflow-y: hidden;
  height: 0px;
}

.infoBox .titleBar .infoTitleContainer .infoTitle {
  color: #FFF4EC;
  text-align: center;
  position: relative;
}

.infoBox .infoBreak {
  margin: 3rem;
  border: 0.5px solid white;
  opacity: 0.7;
  width: 90vw;
  height: 0px;
  margin: 0 5vw;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.infoBox .infoBreak.displayLine {
  -webkit-animation: displayLine 0.2s ease-in-out forwards;
          animation: displayLine 0.2s ease-in-out forwards;
}

.infoBox .info {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  padding: 0 5vw;
}

.infoBox .info section {
  margin: 2rem 0;
  color: white;
}

.infoBox .info section h2 {
  font-size: 23px;
  font-weight: 200;
  margin-bottom: 5px;
}

.infoBox .info section p {
  opacity: 0.7;
  font-weight: 100;
}

.infoBox .info.show {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: calc(100vh - 50px);
  background-color: #FFF4EC;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .skillOptions {
  width: 100vw;
}

main > .skillOptions > .skillContainer {
  position: relative;
  height: 100vw;
  width: 100vw;
}

main > .skillOptions > .skillContainer > .main {
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  background-color: #1C2238;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #FFF4EC;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

main > .skillOptions > .skillContainer:hover > .main {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  -webkit-box-shadow: 0px 0px 25px -5px black;
          box-shadow: 0px 0px 25px -5px black;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:nth-child(1) {
  -webkit-animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.05s forwards;
          animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.05s forwards;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:nth-child(2) {
  -webkit-animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.1s forwards;
          animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.1s forwards;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:nth-child(3) {
  -webkit-animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.15s forwards;
          animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.15s forwards;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:nth-child(4) {
  -webkit-animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.2s forwards;
          animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.2s forwards;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:nth-child(5) {
  -webkit-animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.25s forwards;
          animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.25s forwards;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:nth-child(6) {
  -webkit-animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.3s forwards;
          animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.3s forwards;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:nth-child(7) {
  -webkit-animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.35s forwards;
          animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.35s forwards;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:nth-child(8) {
  -webkit-animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.4s forwards;
          animation: expand 0.3s cubic-bezier(0.75, 0.2, 0.5, 0.7) 0.4s forwards;
}

main > .skillOptions > .skillContainer:hover > .allSkills > .skill:hover {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  -webkit-box-shadow: 0px 0px 15px -4px black;
          box-shadow: 0px 0px 15px -4px black;
}

main > .skillOptions > .skillContainer > .allSkills {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: rotate 120s linear infinite;
          animation: rotate 120s linear infinite;
  position: relative;
  top: 50%;
  left: 50%;
}

main > .skillOptions > .skillContainer > .allSkills > .skill {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #1C2238;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(1) {
  top: calc(0 * (80vw) - 10vw);
  left: calc(0.5 * (80vw) - 10vw);
}

main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(2) {
  top: calc(0.35355 * (80vw) - 10vw);
  left: calc(0.35355 * (80vw) - 10vw);
}

main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(3) {
  top: calc(0.5 * (80vw) - 10vw);
  left: calc(0 * (80vw) - 10vw);
}

main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(4) {
  top: calc(0.35355 * (80vw) - 10vw);
  left: calc(-0.35355 * (80vw) - 10vw);
}

main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(5) {
  top: calc(0 * (80vw) - 10vw);
  left: calc(-0.5 * (80vw) - 10vw);
}

main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(6) {
  top: calc(-0.35355 * (80vw) - 10vw);
  left: calc(-0.35355 * (80vw) - 10vw);
}

main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(7) {
  top: calc(-0.5 * (80vw) - 10vw);
  left: calc(0 * (80vw) - 10vw);
}

main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(8) {
  top: calc(-0.35355 * (80vw) - 10vw);
  left: calc(0.35356 * (80vw) - 10vw);
}

main > .skillOptions > .skillContainer > .allSkills > .skill > .skillImg {
  animation: rotate 120s linear infinite reverse;
  width: calc(0.7071 * 20vw);
  height: calc(0.7071 * 20vw);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes displayLine {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes displayLine {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes smallExpand {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes smallExpand {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes expand {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes expandInfoImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes expandInfoImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@media screen and (min-aspect-ratio: 1 / 1) {
  body {
    height: 100vh;
  }
  .infoBox > .titleBar > .infoImg {
    width: calc(0.7071 * 15vh);
    height: calc(0.7071 * 15vh);
  }
  main {
    max-height: 100vh;
  }
  main > .skillOptions > .skillContainer {
    height: 80vh;
    width: 80vh;
  }
  main > .skillOptions > .skillContainer > .main {
    width: 30vh;
    height: 30vh;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  main > .skillOptions > .skillContainer > .allSkills {
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill {
    width: 15vh;
    height: 15vh;
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(1) {
    top: calc(0 * calc(65vh - 50px) - 7.5vh);
    left: calc(0.5 * calc(65vh - 50px) - 7.5vh);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(2) {
    top: calc(0.35355 * calc(65vh - 50px) - 7.5vh);
    left: calc(0.35355 * calc(65vh - 50px) - 7.5vh);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(3) {
    top: calc(0.5 * calc(65vh - 50px) - 7.5vh);
    left: calc(0 * calc(65vh - 50px) - 7.5vh);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(4) {
    top: calc(0.35355 * calc(65vh - 50px) - 7.5vh);
    left: calc(-0.35355 * calc(65vh - 50px) - 7.5vh);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(5) {
    top: calc(0 * calc(65vh - 50px) - 7.5vh);
    left: calc(-0.5 * calc(65vh - 50px) - 7.5vh);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(6) {
    top: calc(-0.35355 * calc(65vh - 50px) - 7.5vh);
    left: calc(-0.35355 * calc(65vh - 50px) - 7.5vh);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(7) {
    top: calc(-0.5 * calc(65vh - 50px) - 7.5vh);
    left: calc(0 * calc(65vh - 50px) - 7.5vh);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill:nth-child(8) {
    top: calc(-0.35355 * calc(65vh - 50px) - 7.5vh);
    left: calc(0.35356 * calc(65vh - 50px) - 7.5vh);
  }
  main > .skillOptions > .skillContainer > .allSkills > .skill > .skillImg {
    width: calc(0.7071 * 15vh);
    height: calc(0.7071 * 15vh);
  }
}
/*# sourceMappingURL=skills.css.map */