@import './colors';
@import './badgeSize';
$navHeight: 50;

body {
  background-color: $code;
  height: calc(200vh - #{$badgeHeight + 'px'});
}

main {
  position: fixed;
  top: 45px;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  flex-direction: column;

  & > .introduction {

    transform: translateY(-100%);
    color: white;
  
    & > * {
      text-align: center;
    }
  
    & > .mainIntro {
      font-size: 25px;
    }
  
    & > .jobDescription {
      font-size: 22px;
    }
  
    & .jobTitle {
      color: $peach;
    }
  
    & .name {
      color: $yellow;
    }
  }
}

.myBadge {
  position: relative;
  top: calc(100vh - #{$navHeight + 'px'});
  z-index: 1;
  background-color: $peach;
  transform: translateY(-85%);
}

.menu {
  position: relative;
  top: calc(100vh - #{$badgeHeight*0.7+$navHeight + 'px'});
  height: calc(100vh - #{$navHeight + 'px'});
  padding-top: calc(#{$badgeHeight*0.85 + 'px'});
  transform: translateY(#{-$badgeHeight + 'px'});
  background-color: $pale;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  & a {
    color: $paleText;
    text-decoration: none;
  }

  & p {
    padding: 20px;
    font-size: 40px;
  }
}
