body {
  padding-top: 50px;
  font-weight: 100;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #1C2238;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

nav .logo {
  color: #FFF4EC;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

nav .navLinks {
  opacity: 0.95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1C2238;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

nav .navLinks li {
  list-style: none;
}

nav .navLinks li a {
  color: #FFF4EC;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 300;
}

nav .burger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30px;
  margin: 10px;
  display: none;
}

nav .burger div {
  width: 30px;
  height: 5px;
  margin: 4px;
  background-color: #FFF4EC;
  border-radius: 2.5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav > .navLinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  nav > .navLinks li.fadeIn {
    opacity: 0;
    -webkit-animation: navLinksFade 0.5s ease-in-out forwards;
            animation: navLinksFade 0.5s ease-in-out forwards;
  }
  nav > .navLinks li a {
    font-size: 25px;
  }
  nav > .navLinks.navActive {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  nav > .burger {
    cursor: pointer;
    display: block;
  }
  nav > .burger.toggle > div {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  nav > .burger.toggle > div:nth-child(1) {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: rotate(-45deg) translate(-3px, 10px);
            transform: rotate(-45deg) translate(-3px, 10px);
  }
  nav > .burger.toggle > div:nth-child(2) {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
  nav > .burger.toggle > div:nth-child(3) {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: rotate(45deg) translate(-3px, -10px);
            transform: rotate(45deg) translate(-3px, -10px);
  }
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes navLinksFadeOut {
  from {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes navLinksFadeOut {
  from {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
/*# sourceMappingURL=nav.css.map */